{% extends 'base.html' %}
{% block pagetitle %} Badge Creation {% endblock %}

{% block title %} Generate and Download your badges {% endblock %}
{% block primary %}

{% if error %}

    {{ error }}

{% endif %}

{% if form %}
<form action = "." method = 'post' enctype = 'multipart/form-data'> {% csrf_token %}
    {{ form.as_p}}
    <input type="submit" value="Generate"/>
</form>
{% endif %}
    <br>
    {% if zipfile %}
<center>    <a href="{{MEDIA_URL}}{{zipfile}}">Download</a> </center>
    {% endif %}
    


{% endblock %}                                                                       
