<html>
    <head>
        <title> {% block pagetitle %} {% endblock %} </title>
        <script type="text/javascript" src="{{STATIC_URL}}jscolor/jscolor.js"></script>
        <link rel = "stylesheet" href="{{STATIC_URL}}awesomify.css" type="text/css" />
    </head>

    <body>
    <div id="header"> Event Foo </div>
    <div id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/badge/">Badge</a></li>
            {% if login %} <li><a href="/login/logout">Logout</a></li> 
            {% else %} <li><a href="/login/">Login</a></li>
            
            {% endif %}
        </ul>
    </div> 
    <div id="content">
        <div id="primary">
            <div id="title"> {% block title %} {% endblock %} </div>

            {% block primary %} {% endblock %}
        </div>
    </div>
    </body>
</html>
